@font-face {
    font-family: digitalclock;
    src: url(digitalclock.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #161616;
    overflow: hidden;
}

.js-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 90vh;
}

.analog,
.digital {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.clock {
    width: 520px;
    height: 520px;
    background: #222222;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    margin: 25px;
}

.clock .number {
    padding: 20px;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 30px;
}

.clock .number1 {
    --rotation: 30deg;
}

.clock .number2 {
    --rotation: 60deg;
}

.clock .number3 {
    --rotation: 90deg;
    font-size: 40px;
}

.clock .number4 {
    --rotation: 120deg;
}

.clock .number5 {
    --rotation: 150deg;
}

.clock .number6 {
    --rotation: 180deg;
    font-size: 40px;
}

.clock .number7 {
    --rotation: 210deg;
}

.clock .number8 {
    --rotation: 240deg;
}

.clock .number9 {
    --rotation: 270deg;
    font-size: 40px;
}

.clock .number10 {
    --rotation: 300deg;
}

.clock .number11 {
    --rotation: 330deg;
}

.clock .number12 {
    --rotation: 0deg;
    font-size: 40px;
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    background: black;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    border: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    z-index: 10;
    overflow: hidden;
}

.clock .hand.second {
    width: 3px;
    height: 40%;
}

.clock .hand.minute {
    width: 7px;
    height: 38%;
    background: rgb(119, 119, 120);
}

.clock .hand.hour {
    width: 12px;
    height: 32%;
    background: rgb(137, 139, 137);
}

.clock::after {
    content: "";
    position: absolute;
    background: #1b1b1b;
    z-index: 12;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.analog-text {
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: #d5d3d3;
}

.timeBtn {
    padding: 12px 28px;
    font-size: 1.2em;
    background: #a8a8a8;
    color: #222222;
    border-radius: 8px;
    font-weight: 700;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    z-index: 20;
}

.timeBtn:hover {
    padding: 10px 26px;
    border: 2px solid #17d427;
    color: #fff;
    cursor: pointer;
    background: #323131;
}

/* Analog end */
/* Digital Start */

.digital-clock {
    padding: 30px 10px;
    width: 500px;
    height: 275px;
    background: rgb(16, 16, 16);
    border: 15px solid rgb(72, 71, 71);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-title {
    text-align: center;
    font-size: 25px;
    color: #d5d3d3;
    margin-bottom: 25px;
}

.digital-clock .timeP {
    color: #ff8707;
    font-size: 80px;
    font-family: 'digitalclock', 'Orbitron', sans-serif;
}

.digital-clock .timeP #meridiem {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.dBtn {
    margin-top: 30px;
}

/* Digital End */

/* Responsive */


@media only screen and (max-width: 1400px) {

    .analog,
    .digital {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .analog {
        margin-top: 50px;
    }

    .clock {
        width: 450px;
        height: 450px;
    }

    .digital-clock {
        width: 450px;
    }
}

@media only screen and (max-width: 1024px) {
    .clock {
        width: 450px;
        height: 450px;
    }

    .analog-text {
        transform: translateY(-350%);
        position: absolute;
    }

    .timeBtn {
        padding: 10px 18px;
        font-size: 1em;
        border-radius: 3px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .digital-clock {
        width: 450px;
        height: 250px;
    }
}

@media only screen and (max-width: 996px) {
    .clock {
        width: 360px;
        height: 360px;
    }

    .js-clock {
        padding: 10px;
    }

    .clock .number {
        padding: 12px;
        font-size: 25px;
    }

    .analog-text {
        font-size: 20px;
    }

    .clock .hand.second {
        width: 2px;
        height: 42%;
    }

    .clock .hand.minute {
        width: 6px;
        height: 37%;
    }

    .clock .hand.hour {
        height: 28%;
    }

    .d-title {
        margin-bottom: 15px;
    }

    .digital-clock {
        width: 360px;
        height: 220px;
        padding: 25px 5px;
    }

    .digital-clock .timeP {
        font-size: 70px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow: auto;
    }

    .js-clock {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .analog {
        margin-top: 0;
    }

    .digital {
        margin-top: 30px;
    }

    .dBtn {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 570px) {
    .js-clock {
        padding: 5px;
        overflow: hidden;
    }

    .analog,
    .digital {
        padding: 5px;
    }

    .clock {
        width: 330px;
        height: 330px;
    }

    .digital-clock {
        width: 330px;
    }
}

@media only screen and (max-width: 360px) {
    .clock {
        width: 280px;
        height: 280px;
    }

    .clock .number {
        padding: 10px;
        font-size: 20px;
    }

    .analog-text {
        font-size: 15px;
        color: #d5d3d3;
    }

    .clock .hand.second {
        width: 2px;
        height: 39%;
    }

    .clock .hand.minute {
        width: 4px;
        height: 33%;
        background: rgb(119, 119, 120);
    }

    .clock .hand.hour {
        width: 8px;
        height: 26%;
        background: rgb(137, 139, 137);
    }

    .clock::after {
        width: 16px;
        height: 16px;
    }

    .digital-clock {
        width: 300px;
        height: 220px;
        overflow: hidden;
    }

    .d-title {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .digital-clock .timeP {
        font-size: 65px;
        line-height: 0.9;
    }

    .digital-clock .timeP #meridiem {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .clock {
        width: 230px;
        height: 230px;
    }

    .clock .number {
        padding: 8px;
    }

    .clock .hand.second {
        width: 1.5px;
        height: 39%;
    }

    .clock .hand.minute {
        height: 30%;
    }

    .clock .hand.hour {
        height: 25%;
    }

    .clock::after {
        width: 15px;
        height: 15px;
    }

    .digital-clock {
        width: 280px;
        height: 210px;
    }

    .digital-clock .timeP {
        line-height: 0.8;
    }
}